<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='cssku/qrcamera.css')}}">
    <title>Scan Table</title>
  </head>
  <body data-instant-allow-query-string data-instant-allow-external-links>
    <main class="default-content" aria-label="Content">
      <div class="wrapper-content">
        <h1 style="text-align: center;"> Please Scan Table First Before order our Food</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-12" style="text-align: center;">
              <div id="qr" style="display: inline-block;">
                <div class="placeholder"> QR Code viewfinder comes here</div>
              </div>
              <div id="scannedCodeContainer"></div>
              <br>
              <div>
                <div id="selectCameraContainer" style="display: inline-block;"></div>
                <span>Select Camera: </span><select id="cameraSelection"></select>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div style="display: block; height: 30px"></div>
      
      <script src="{{url_for('static',filename='jsku/jquery.js')}}"></script>
      <script src="{{url_for('static',filename='jsku/qrcode.js')}}"></script>
      <script src="{{url_for('static',filename='jsku/html5qrcode.js')}}"></script>
      <script src="{{url_for('static',filename='jsku/camera.js')}}"></script>
      
    </div>
  </main>
</body>
</html>